<p id="notice"><%= notice %></p>
<br/><br/>
<div class="jumbotron">
  <h1 class="display-4">
    <%= @contact.first_name %>
    <%= @contact.last_name %>
  </h1>


<p class="lead">
  <%= @contact.email %> |
  <%= @contact.phone %>|
   <%= @contact.twitter %>
</p><br/><br/>

<%= link_to 'Edit', edit_contact_path(@contact), class:"btn btn-success" %>
<%= link_to 'Back', contacts_path, class:"btn btn-secondary" %>
</div>
